<h1>Listing flash</h1>

<li>
  

<% @ideas.each do |idea| %>
  <div class="jumbotron">
    <ul>
      <td><%= link_to idea.name, [idea.user, :ideas] %></td>
      
    </ul>
    <ul>
      <td><%= image_tag idea.picture_url, :width => '250' if idea.picture.present? %></td>
      <td><%= link_to idea.description, idea %></td>
    </ul>

    <ul>
      <td><%= link_to 'Show', idea %></td>
      <td>
      <% if can? :update, idea %>
        <%= link_to '| Edit', edit_idea_path(idea) %>
      <% end %>
      </td> 
      <td>
        <% if can? :destroy, idea %>
        <%= link_to '| Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </td>
    </ul>
    </div>
<% end %>
</li>

<br />

<% if can? :update, @idea %>
<%= link_to 'New flash', new_idea_path %>
<% end %>
