<p>
  <b>Name:</b>
  <%= @idea.name %>
</p>

<p>
	<% if @idea.picture.present? %>		
  <b></b>
  <%= image_tag(@idea.picture_url, :width => "60%")  %>
  <% end %>
</p>

<p>
  <b>Description:</b>
  <%= @idea.description %>
</p>

<% if can? :update, @idea %>
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<% end %>
<%= link_to 'Back', ideas_path %>
<br />
<p><b><%= link_to 'Comments', comments_path%></b></p>
<% @idea.comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %><p>
  </div>
<% end %>
<% if user_signed_in? %>
<%= render 'comments/form' %>
<% else %>
  <p><b>To make a comment, please login first!</b></p>
<% end %>

