<!DOCTYPE html>
<html>
<head>
  <title>Fashionflash</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Fashionflash</a>
      <div class="nav-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/ideas">home</a></li>
        <li ><%= link_to 'New flash', new_idea_path %></li>
      </ul>
      
      <ul class="nav navbar-nav pull-right">
        
    	<% if user_signed_in? %>
      		Logged in as <strong><%= link_to current_user.username %></strong>.
      		<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
      		<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
    	<% else %>
    	  <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li> 
    	  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
	   <% end %>
      
      </ul>
  </div>
	</div>
  
</div>

<div class="container">
	<% if notice %>
  		<p class="alert alert-notice"><%= notice %></p>
	<% end %>
	<% if alert %>
  		<p class="alert alert-error"><%= alert %></p>
	<% end %>
  <%= yield %>
</div>

<footer>
  <div class="modal-footer">
    Thereza <%= link_to 'github', 'https://github.com/bakerstreet221b' %>
  </div>

</footer>

</body>
</html>
